apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdfgen-deployment
  labels:
    app: pdfgen
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pdfgen
  template:
    metadata:
      labels:
        app: pdfgen
    spec:
      containers:
      - name: pdfgen
        image: bilginyuksel/amd64-pdfgen:latest
        ports:
          - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: pdfgen-service
spec:
  selector:
    app: pdfgen
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000